* {
  box-sizing: border-box;
}

/* ici c'est le style de toute la page , */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* voici le header  principal avec la couleur de fond qui va avec */
.header {
  padding: 120px;
  text-align: center;
  background: url(./img/Info_web_logo_2.png) no-repeat;
  background-position: center;
  background-color: rgb(203, 255, 255);
}

/* ici on defini la taille du h1 qui ce de trouve dans le header de cette façon */
.header h1 {
  font-size: 40px;
}

/*  ici c'est ma navbard et grace au -webkit-sticky je definis mon petit effet*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
  position: -webkit-sticky;
  top: 0;
}

/*  ici je defini le style des lien qui ce trouve dans ma navbar */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/*  allignement de tous les lien  vers la droite*/
.navbar a.right {
  float: right;
}

/* le change de couleur du a */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* la c'est l'effet donné sur le lien lorsque je met ma souris dessus  */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* le style donnée a ma class row  */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  

}

/* le style donnée a ma classe side*/
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* le style donnée a ma classe main*/
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: blanchedalmond;
}

.nosforms {
    background-color: #666;
    padding: 20px;
    color: white;
}

.centreform{
  text-align: center;
  margin-top: 70px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(203, 255, 255);
}

 /* slider 1*/
.slider {
  width: 800px;
  margin: 30px auto;
  position: static;
}

.slider-viewport {
  width: 800px;
  height: 400px;
  overflow: hidden;
  
}

.slider-content {
  display: grid;
  grid-auto-flow: column;
  transition: 1s all;
  animation: slide 11.5s ease infinite 0s;
  width: 300%;
}
.slider-content img {
  width: 800px;
  height: 400px;
}

.slider-nav {
  position: static;
  width: 100%;
  bottom: -30px;
  margin-top: 10px;
  text-align: center;
}
.slider-nav a {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
  display: inline-block;
  background-color: #adafbc;
  width: 15px;
  height: 15px;
  margin: 0 3px;
}
.slider-nav a:hover {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
  transform: translateX(-800px);
}

#img3:target .slider-content {
  transform: translateX(-1600px);
}

#img4:target .slider-content {
  transform: translateX(-2400px);
}

#img5:target .slider-content {
  transform: translateX(-3200px);
}

.diaporama {
  animation: slide 16.5s ease infinite 0s;
  width: 300%;
}
@keyframes slide {
  0%, 21.21%, 100% {
    transform: translate(0,0);
  }
  36.36%, 57.58% {
    transform: translate(-33.33%,0);
  }
  72.73%, 93.94% {
    transform: translate(-66.67%,0);
  }
}


   /* slider 2*/
   .slider2 {
    width: 400px;
    margin: 30px auto;
    position: static;
  }
  
  .slider-viewport2 {
    width: 400px;
    height: 250px;
    overflow: hidden;
    
  }
  
  .slider-content2 {
    display: grid;
    grid-auto-flow: column;
    transition: 1s all;
    animation: slide 11.5s ease infinite 0s;
    width: 300%;
  }
  .slider-content2 img {
    width: 400px;
    height: 250px;
  }
  
  .slider-nav2 {
    position: static;
    width: 100%;
    bottom: -30px;
    margin-top: 10px;
    text-align: center;
  }
  .slider-nav2 a {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    display: inline-block;
    background-color: #adafbc;
    width: 15px;
    height: 15px;
    margin: 0 3px;
  }
  .slider-nav2 a:hover {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  }
  
  #img2:target .slider-content {
    transform: translateX(-800px);
  }
  
  #img3:target .slider-content {
    transform: translateX(-1600px);
  }
  
  #img4:target .slider-content {
    transform: translateX(-2400px);
  }
  
  #img5:target .slider-content {
    transform: translateX(-3200px);
  }

  .diaporama {
    animation: slide 16.5s ease infinite 0s;
    width: 300%;
  }
  @keyframes slide {
    0%, 21.21%, 100% {
      transform: translate(0,0);
    }
    36.36%, 57.58% {
      transform: translate(-33.33%,0);
    }
    72.73%, 93.94% {
      transform: translate(-66.67%,0);
    }
  }
